<!DOCTYPE html>
<html lang="en">

{%extends 'bulletin/tempExtendLayout.html'%}
{%block content%}

<!--board html-->

<head>
    <meta charset="UTF-8">
    {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <title>MyPetDiary</title>
</head>
<style>
    .main_body{
      display: flex;
      background-color: whitesmoke; 
      margin-right: 20px; 
      margin-left: 20px; 
      margin-top: 10px; 
      margin-bottom: 10px;
      height: 500px; 
    }
    .pagination {
        display: flex;
        padding-left: 0px;
        list-style: none;
        border-radius: 0.25rem;
        justify-content: center;
    }
  </style>

<body>
    <div class="main_body">
        <div class="container">
            <br>
            <h1 class="text-center"><a href="">📌자유 게시판</a>
                <button type="button" class="btn btn-default pull-right" onclick="location.href='upload/' ">
                    <b>✋글쓰기</b>
                </button>
            </h1>
            <br>
            <table class = "table table-hover table-striped" style="border: 1px solid;">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>시간</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feed in board%}
                    <tr>
                        <td>{{feed.id}}</td>
                        <td><a href="./{{feed.id}}"><b>{{feed.title}}</b></a></td>
                        <td>{{feed.user.name}}</td>
                        <td>{{feed.upload_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <hr>
            <div class="pagination">
                {% if boards.has_previous%}
                <li class="page-item">
                    <a class="page-link" href="?page={{ boards.previous_page_number}}">◁</a>
                </li>
                {% else %}
                {% comment %} <li class="page-item disable">
                    <a class="page-link" href="">◁</a>
                </li> {% endcomment %}
                {% endif %}

                <li class="page-item">
                    <a class="page-link" href="">{{boards.number}} / {{boards.paginator.num_pages}}</a>
                </li>
                
                {% if boards.has_next%}
                <li class="page-item">
                    <a class="page-link" href="?page={{ boards.next_page_number}}">▷</a>
                </li>
                {% else %}
                {% comment %} <li class="page-item disable">
                    <a class="page-link" href="">▷</a>
                </li>    {% endcomment %}
                {% endif %}

            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

{%endblock%}
</html>