<!DOCTYPE html>
<html lang="en">

{%extends 'bulletin/tempExtendLayout.html'%}
{%block content%}

<!--board html-->

<head>
    <meta charset="UTF-8">
    {% comment %} <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <title>MyPetDiary</title>
</head>
<style>
    .main_body{
      display: flex;
      background-color: whitesmoke; 
      margin-right: 20px; 
      margin-left: 20px; 
      margin-top: 10px; 
      margin-bottom: 10px;
      height: 500px; 
    }
    .contour{
        height: 2px; 
        background-color: lightgrey;
    }
    .buffer{
        height: 0px; 
    }
    textarea {
        width: 100%;
    }
    input[type=submit] {
        margin-top: 10px;
    }
  </style>

<body>
    <div class="main_body">
        <div class="container">
            <br>
            <button type="button" class="btn btn-default pull-right" onclick="location.href='../' ">
                <b>📜목록</b>
            </button>
            <br><br>
            <div class="contour"></div>
            
            {% comment %} <form method="post"
                    action="{% url 'bulletin:upload' %}">        
                {% csrf_token%}
                <textarea name="title" id="title" rows="1"></textarea>
                <br>
                <textarea name="content" id="content" rows="15"></textarea>
                <br>
                <input type="submit" value="게시글 등록">
            </form> {% endcomment %}
            <form method="post" class="post-form my-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">저장하기</button>
            </form>
                
            <div class="contour"></div>
                   
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

{%endblock%}
</html>